/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.1/dependencies-accessors/gc.properties
/.gradle/7.1/executionHistory/executionHistory.bin
/.gradle/7.1/executionHistory/executionHistory.lock
/.gradle/7.1/fileChanges/last-build.bin
/.gradle/7.1/fileHashes/fileHashes.bin
/.gradle/7.1/fileHashes/fileHashes.lock
/.gradle/7.1/fileHashes/resourceHashesCache.bin
/.gradle/7.1/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/checksums/checksums.lock
/.gradle/checksums/md5-checksums.bin
/.gradle/checksums/sha1-checksums.bin
/.gradle/vcs-1/gc.properties
/build/classes/java/main/config/AppConfig.class
/build/classes/java/main/domain/Books.class
/build/classes/java/main/domain/BookService.class
/build/classes/java/main/domain/BooksRepository.class
/build/resources/main/books.json
/build/tmp/compileJava/previous-compilation-data.bin
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/build/classes/java/main/domain/Book.class
/build/classes/java/main/domain/BookResource.class
/build/classes/java/main/ports/reader/JsonBookRepository.class
/build/classes/java/main/App.class
/build/classes/java/main/domain/exception/JsonReaderException.class
/build/classes/java/main/domain/exception/LibraryException.class
/build/classes/java/main/domain/exception/ServiceFailedToGetBooksException.class
/build/libs/DataStructureModule-1.0-SNAPSHOT.jar
/build/tmp/shadowJar/MANIFEST.MF
/build/classes/java/main/domain/BookService$1.class
/build/classes/java/main/ports/reader/
